section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:white;
    background: palevioletred;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: pink;
    letter-spacing: .1rem;
}



.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid gray;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}


.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.box-container .box{
    background: #fff;
    border:.1rem solid gray;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.box-container .box .image .fa-heart:hover{
    background-color: pink;
    color:white;
}

.box-container .box .image .fa-heart{
    position: absolute;
    top:1.5rem; right: 2.5rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: rgb(232, 63, 92);
  }

.box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.box-container .box .content .stars{
    padding-bottom: 1rem;
}

.box-container .box .content .stars i{
   font-size: 1.7rem;
   color:rgb(239, 186, 29);
}

.box-container .box .content h3{
    color:brown;
    font-size: 2.5rem;
}

.box-container .box .content .price{
    color: palevioletred;
    margin-left: 1rem;
    font-size: 2.5rem;
}

.box-container .box .content .cart{
    position: relative;
    bottom: 1px;
}


.product .box-container .box .overlay{
    position: absolute;
    top:25px; left: 0;
    height:20rem;
    width: 100%;
    background:rgba(0,0,0,.3);
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.product .box-container .box:hover .overlay{
    transform: scale(1);
}

.product .box-container .box .overlay p{
    font-size: 1.6rem;
    padding:1rem 1.2rem;
    color:#fff;
    margin:1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i));
}

.product .box-container .box:hover .overlay p{
    transform: translateY(0rem);
}