*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border:none;
    /* transition: all .2s cubic-bezier(.37,1.14,.26,1.24); */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ffffff;
}
